{% extends 'base.html' %}
{% block title %}Посты избранных авторов{% endblock %}
{% block content %}
    {% load static %}
    {% load thumbnail %}
    {% include 'posts/includes/switcher.html' %}
    <div class="container">
        {% for post in page_obj %}
            {% include 'posts/includes/post_list.html' %}
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% empty %}
            <p>
                К сожалению нет ни одного поста
            </p>
        {% endfor %}
        {% include 'includes/paginator.html' %}
    </div>
{% endblock %}
